*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #3a4452;
    padding:20px ;
    border-radius: 10px;
}

.calculator form input{
   
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255, 0.1),5px  5px 15px rgba(255,255,255, 0.1) ;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*Get space between all the buttons*/
    margin: 10px;
    flex: none; /*prevent flex shrinking*/
}

/*input :focus{
    outline: none;
    border: 2px solid #007bff;
}*/


form .display{
    display: flex  ;
    justify-content: flex-end;
    width: 100%;
   /* */
   margin: 20px 0;

}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    border: none;

}

input.equal{
    width: 145px;
    flex: none;

    
}

form input .operator{
     color: #33ffd8;
}